body {
    font-family: "Lato", sans-serif;
	width: 100%;
	background-color:rgb(51, 102, 255) !important;
	overflow-x:hidden;
}

h2, h4, h5 {
	text-align:center;
}

p {
	text-align:center;
}

/* SIDE NAV BAR */
.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
    text-align:center;
}

.sidenav a {
    padding:15px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    transition: 0.2s;
	color:rgb(183, 183, 183);
	text-align:left;
}

.sidenav a:hover{
    color: #f1f1f1;
	opacity:0.2;
}

#dropdownButtons {
	overflow-y: auto;
	height: 100px;
	overflow-x:hidden;
}

#dropdownButtons a{
	font-size:16px;
	padding:5px;
	margin-left:35px;
	text-align:left;
}

/* SCROLL BAR */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, .3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, 0.2);
}

/* PAGE CONTENT */
#content{
	height:100%;
	top:0;
	float:right;
	overflow-x:hidden;
	overflow-y:hidden;
	width:80%;
}

#content h1, h2, p{
	font-family: 'Raleway', sans-serif;
	padding-left:20px;
	padding-right:20px;
}

#content p{
	font-size:14px;
}

#pageTitle h1{
	font-size:50px;
	padding-left:50px;
}

#pageContent{
	padding-top: 0px;
	text-align:center;
	width:100%;
}

#pageContent .deviceNumber{
	font-size:60px;
}

#pageContent .deviceWord{
	margin-top:-55px;
	font-size:20px;
}

#pageContent .deviceName{
	font-size:30px;
	
	padding-top:20px;
	padding-bottom:20px;
}

.pageContent{
	margin-left:-40px;
	padding-top:20px;
	width:100%;
	height:500px;
	overflow-y:auto;
	margin-top:25px;
}

#deviceIcon{
	padding:5px;
}

#deviceInfo{
	color:white;
}

#deviceMoreInfo{
	margin-left:100px;
	text-align:left;
}

#allDevices {
	padding-left:40px;
}

.deviceImage {
	margin: auto auto;
	display:block;
	padding-top:20px;
}

td a {
	color:white;
}

.deviceInformation td {
	padding:5px 35px;
}

.deviceInformation {
	text-align:center;
	margin:20px auto;
}

.ipAdd {
	margin-bottom:25px;
}

.bottomDeviceInfo {
	margin-bottom:15px;
}

.settings{
	position:fixed;
    bottom:8px;
    width:4%;
    padding-left:12%;
}

.closebtn, .openMenuTab{
    display:none !important;
}

.noIssues {
	padding:40px;
	background-color:green;
}

.problemsTable{
	margin:auto auto;
}

/* MOBILE ADJUSTMENTS */
@media (max-width:700px) {
    .sidenav{
        z-index:2;
        width:0;
    }
    
    .sidenav a{
        font-size:60px;
    }
    
    #dropdownButtons a{
        font-size:40px;
    }
    .openMenuTab {
        position: absolute;
        top: 40%;
        left: 0px;
    }
    
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 150px;
        margin-left: 50px;
    }
    
    .closebtn, .openMenuTab{
        display:block;
        opacity:0.5;
    }
}